@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --main-font: 'Inter', sans-serif;
  --main-gradient: linear-gradient(
    45deg,
    hsla(319, 74%, 64%, 1) 0%,
    hsla(225, 60%, 67%, 1) 58%,
    rgb(120, 146, 221) 100%
  );
  --main-gradient-medium-transparent: linear-gradient(
    45deg,
    hsla(319, 74%, 64%, 0.7) 0%,
    hsla(225, 60%, 67%, 0.7) 58%,
    rgba(120, 146, 221, 0.4) 100%
  );
  --main-gradient-high-transparent: linear-gradient(
    45deg,
    hsla(319, 74%, 64%, 0.4) 0%,
    hsla(225, 60%, 67%, 0.4) 58%,
    rgba(120, 146, 221, 0.2) 100%
  );
  --alt-color: 160, 108, 213;
  --alt-color-darker: 107, 61, 154;
  --alt-color-lighter: 178, 134, 221;
  --toastify-color-info: rgb(var(--alt-color-darker)) !important;
  --toastify-color-success: #58ad8b !important;
  --toastify-color-warning: #d5a87a !important;
  --toastify-color-error: #c95966 !important;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  /* font-size: clamp(16px, 2vw, 20px); */
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 0;

  background: rgb(0, 0, 0);
}

.content {
  margin-top: 4rem;
}

button {
  position: relative;
  background: var(--main-gradient);
  box-shadow: rgba(50, 45, 71, 0.5) 2px 1000px 1px inset;
  color: #fff;
  font-family: var(--main-font);
  font-size: 1.2rem;
  padding: 0.3rem 2rem;
  outline: none;
  border: 0;
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
  transition: all 0.2s linear;
}

button:hover {
  box-shadow: none;
  transform: scale(1.02);
}

button:active {
  background: var(--main-gradient-medium-transparent);
}

button:disabled {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}

a:hover:not(i):not(.title) {
  transform: scale(1.02);
  text-decoration: underline;
}

h1 {
  font-weight: 500;
}

.highlight {
  background: var(--main-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#da22ff, #9733ee);
  clip-path: circle(30% at right 70%);
  z-index: -100;
}

#container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e55d87, #5fc3e4);
  clip-path: circle(20% at 10% 10%);
  z-index: -100;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-footer {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.icon-footer:hover {
  color: rgb(var(--alt-color-lighter));
  transform: scale(1.2);
}

/* ------------------------------------------- */
/* ------------------ NAV -------------------- */
/* ------------------------------------------- */

nav {
  position: fixed;
  top: 0;
  background: var(--main-gradient-medium-transparent);
  box-shadow: rgba(50, 45, 71, 0.5) 2px 1000px 1px inset;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  display: grid;
  grid-template-columns: 2fr auto auto;
  justify-items: start;
  align-items: center;
  width: 100%;
  gap: 3rem;
  padding: 0 2rem;
  z-index: 100;
}

nav:after {
  content: '';
  background: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  opacity: 0.5;
}

nav .title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

nav .title a {
  color: #fff;
}

nav .links {
  position: relative;
  display: flex;
  /* gap: 2rem; */
}

nav .links::before {
  content: '';
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 50%;
}

nav .links::after {
  content: '';
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 50%;
}

.nav-btn {
  background: transparent;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  transition: all 0.2s linear;
}

.nav-btn:hover {
  background: var(--main-gradient-high-transparent);
  box-shadow: none;
  transform: scale(1.02);
}

.connect-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

[data-rk] .ju367v11 {
  font-family: var(--main-font) !important;
}

/* ------------------------------------------- */
/* ------------------ HOME ------------------- */
/* ------------------------------------------- */

.home-container {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.home-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.home-actions-btns {
  display: flex;
  gap: 1rem;
}

.action-filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.action-filters .title {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-group > .filter-btn:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.filter-group > .filter-btn:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.filter-btn {
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  box-shadow: none !important;
}

.filter-btn:hover {
  color: #fff !important;
  transform: scale(1.02);
}

.filter-btn:not(:first-child)::before {
  background: transparent !important;
}

.home-nft {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  gap: 2rem;
}

.error.not-connected {
  font-weight: 500;
}

.nft-card,
.box-container {
  position: relative;
  background: var(--main-gradient-high-transparent);
  box-shadow: rgba(50, 45, 71, 0.5) 2px 1000px 1px inset;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 1rem 2rem;
  gap: 0.5rem;
  overflow: hidden;
  transition: all 0.2s linear;
  backdrop-filter: blur(10px);
}

.nft-card {
  cursor: pointer;
}

.nft-card:hover {
  background: var(--main-gradient-medium-transparent);
  box-shadow: none;
  transform: scale(1.02);
}

.nft-card .popup {
}

.nft-card .image {
  display: flex;
  justify-content: center;
}

.nft-card .nft-skeleton {
  background: rgba(0, 0, 0, 0) !important;
  border-radius: 12px;
}

.nft-card .properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.nft-card .properties .name {
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nft-card .token-id {
  font-size: 1.5rem;
  opacity: 0.5;
}

.nft-card .properties .description {
  opacity: 0.7;
}

.nft-card .actions {
  background: var(--main-gradient);
  position: absolute;
  bottom: -4rem;
  right: 0;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0 0 12px 12px;

  transition: all 0.2s linear;
}

.nft-card:hover .actions {
  transform: translateY(-4rem);
}

.nft-card .actions > div {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.nft-card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nft-card .info .seller {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.nft-card .info .price {
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.action-buy-item > div,
.value,
.balance {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.action-buy-item > div > span,
.action-buy-item > div > i {
  margin-left: 0.5rem !important;
}

/* ------------------------------------------- */
/* ----------------- MODAL ------------------- */
/* ------------------------------------------- */

.update-listing,
.buy-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.update-listing .title,
.buy-item .title {
  display: flex;
  gap: 0.5rem;
}

.update-listing .name,
.buy-item .name {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.7;
}

.update-listing .token-id,
.buy-item .token-id {
  font-size: 1.2rem;
  font-weight: 400;
}

.update-listing i {
  margin-right: 0.3rem;
}

.error-message {
  color: var(--toastify-color-error);
  font-weight: 500;
}

.price {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.buy-item .price .label {
  font-size: 1.2rem;
  font-weight: 500;
}

.price .value {
  font-size: 1.2rem;
  font-weight: 400;
}

.buy-item .balance {
  opacity: 0.7;
}

.withdraw-proceeds {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mint-container,
.sell-container {
  /* Span all the height of the grid */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box-container {
  background: var(--main-gradient-medium-transparent);
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  width: 100%;
}

.box-container.error {
  margin-top: 1rem;
}

.mint-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mint-btn {
  /* Override antd CSS */
  background: var(--main-gradient) !important;
  box-shadow: rgba(50, 45, 71, 0.5) 2px 1000px 1px inset !important;
  border: none !important;
  padding: 0.5rem 2rem !important;
  font-size: 1.2rem !important;
  border-radius: 6px !important;
  display: flex !important;
}

.mint-btn:hover {
  box-shadow: none !important;
}

.mint-container .action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.instructions p {
  margin-left: 0.5rem;
}

.caption {
  font-family: 'Outfit';
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 0.5rem;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.nft-address-tooltip i {
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.nft-address-tooltip i:hover {
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
}

.Toastify__toast--default {
  background: var(--main-gradient) !important;
  box-shadow: rgba(50, 45, 71, 0.5) 2px 1000px 1px inset !important;
  color: #fff !important;
}

.ant-modal-footer {
  display: grid;
  grid-template-columns: min-content auto;
  justify-content: space-between;
}

.ant-modal-close {
  box-shadow: none;
}

.ant-modal-close:active {
  color: #fff !important;
  background: none;
}

.ant-input-number-prefix {
  margin-right: 0.5rem !important;
}

.ant-input-number-prefix > svg {
  width: 16 !important;
}

.react-icons {
  width: 2rem !important;
}
