@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --main-font: 'Outfit', sans-serif;
  --main-gradient: linear-gradient(
    45deg,
    hsla(319, 74%, 64%, 1) 0%,
    hsla(225, 60%, 67%, 1) 58%,
    rgb(120, 146, 221) 100%
  );
  --alt-color: 160, 108, 213;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: clamp(16px, 2vw, 20px);
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(0, 0, 0);
}

button {
  position: relative;
  color: #fff;
  font-family: var(--main-font);
  font-size: 1.2rem;
  padding: 0.3rem 2rem;
  outline: none;
  border: 0;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
  transition: all 0.2s linear;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s linear;
}

a:hover:not(i) {
  color: rgb(var(--alt-color));
}

a .highlight {
  padding-right: 2px;
}

h1 {
  font-weight: 500;
}

.highlight {
  background: var(--main-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

/* ------------------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
}

/* div.iekbcc0.ju367va.ju367v10.ju367v1i {
  align-items: baseline;
} */
